/*shared common style*/
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
    color: white;
    margin-top: 10px;
}
/*header style*/
.header-container{
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 50px 0 100px;
}
.header-content{
    padding: 20px 80px;
}

.header-content .header-title{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 5px;
}

.header-content .header-dic{
    color: rgba(39, 39, 39, 0.60);
    /* margin-right: 10px; */
    font-weight: 400;
}
.header-img img{
    width: 400px;
    margin-right: 50px;
}
.future-flower{
    margin: 100px 150px;
    text-align: center;
}
.future-flower h1{
    font-weight: 800;
    color: #272727;
}

.future-flower p{
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin-bottom: 30px;
}
.flower-img-container{
    display: flex;
    justify-content: space-between;
}
.future-flower-img img{
    margin-right: 20px;
}
.future-flower-img .first-flower{
    border-radius: 300px 300px 0px 0px;
    height: 300px;
    display: block;
    width: 220px;
    padding: 40px 40px 0 40px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 20px;
}
.future-flower-img .second-flower{
    display: block;
    width: 240px;
    padding: 50px 40px 0 40px;
}
.future-flower-img .second-img-extra-edit{
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
    height: 340px;
    width: 310px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}
.future-flower-img .third-flower{
    border-radius: 300px 300px 0px 0px;
    height: 300px;
    display: block;
    width: 220px;
    padding: 40px 40px 0 40px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 20px;
}
.future-flower-img a{
    color: black;
    font-weight: 700;
}

.delivery-section{
    margin: 100px 150px;
    
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05)
}
.delivery-section .delivery-container{
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}

.delivery-section img{
    width: 60px;
}
.delivery-container p{
    color: rgba(39, 39, 39, 0.80);
    font-weight: 700px;
    font-size: 18px;
}


/*hot deal section style*/

.hot-deal-section{
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    padding:50px 200px;
}

.hot-deal-section .hot-deal-contain{
    text-align: center;
    padding: 50px 50px;
}
.hot-deal-contain h1{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
}
.hot-deal-contain h1 span{
    color: #E55473;
}
.hot-deal-contain p{
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}
.hot-deal-img img{
    width: 200px;
    margin-left: 50px;
}

