/*shared common style*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
    color: white;
    margin-top: 10px;
}

.btn-primary:hover {
    cursor: pointer;
    background: #ff5177;
}

/*header style*/

header {
    background-color: rgba(229, 84, 115, 0.10);
}

/*nav style*/

nav {
    margin: 0px 100px 0 180px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 90px;
}

.nav-element a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(253, 77, 115, 0.479);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.nav-element a:hover {
    background-color: rgba(255, 73, 113, 0.664);
}

.header-container {
    /* background-color: rgba(229, 84, 115, 0.10); */
    display: flex;
    padding: 50px 50px 0 100px;
}

.header-content {
    padding: 20px 80px;
}

.header-content .header-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 5px;
}

.header-content .header-dic {
    color: rgba(39, 39, 39, 0.60);
    /* margin-right: 10px; */
    font-weight: 400;
}

.header-img img {
    width: 400px;
    margin-right: 50px;
}

/*future flower style*/
.future-flower {
    margin: 100px 150px;
    text-align: center;
}

.future-flower h1 {
    font-weight: 800;
    color: #272727;
}

.future-flower p {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin-bottom: 30px;
}

.flower-img-container {
    display: flex;
    justify-content: space-between;
}

.future-flower-img img {
    margin-right: 20px;
}

.future-flower-img .first-flower {
    border-radius: 300px 300px 0px 0px;
    height: 300px;
    display: block;
    width: 220px;
    padding: 40px 40px 0 40px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 20px;
}

.future-flower-img .second-flower {
    display: block;
    width: 240px;
    padding: 50px 40px 0 40px;
}

.future-flower-img .second-img-extra-edit {
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
    height: 340px;
    width: 310px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}

.future-flower-img .third-flower {
    border-radius: 300px 300px 0px 0px;
    height: 300px;
    display: block;
    width: 220px;
    padding: 40px 40px 0 40px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 20px;
}

.future-flower-img a {
    color: black;
    font-weight: 700;
}

/*best sell flower style*/
.best-sell {
    text-align: center;
}

.best-sell-flower-container {
    display: flex;
    text-align: center;
    margin: 20px 40px;
}

.best-sell-flower img {
    width: 270px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(207, 207, 207, 0.603);
}

.best-sell-flower a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #111010;
}

/*delivery section style*/

.delivery-section {
    margin: 100px 150px;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05)
}

.delivery-section .delivery-container {
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}

.delivery-section img {
    width: 60px;
}

.delivery-container p {
    color: rgba(39, 39, 39, 0.80);
    font-weight: 700px;
    font-size: 18px;
}

/*hot deal section style*/

.hot-deal-section {
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 50px 200px;
}

.hot-deal-section .hot-deal-contain {
    text-align: center;
    padding: 50px 50px;
}

.hot-deal-contain h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
}

.hot-deal-contain h1 span {
    color: #E55473;
}

.hot-deal-contain p {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}

.hot-deal-img img {
    width: 200px;
    margin-left: 50px;
}

/* Instagram section style*/

.instagram-section {
    text-align: center;
    margin-top: 100px;
}

.instagram-section h2 {
    color: #272727;
    font-size: 25px;
    font-weight: 800;
}

.instagram-section p {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin-bottom: 30px;
}

.instagram-section-img img {
    width: 230px;
    margin-right: 15px;
}

/* latest deal section style*/

.latest-deal-section {
    text-align: center;
    margin: 100px 150px 100px 140px;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-size: cover;
}

.latest-deal-contain {
    padding: 60px;
}

.latest-deal-contain input {
    height: 45px;
    width: 480px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.latest-deal-contain h1 {
    color: #272727;
    font-family: Lato;
    font-weight: 800;
    margin-bottom: 5px;
}

.latest-deal-contain p {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}

.latest-deal-contain input::placeholder {
    padding: 0 20px;
}

/*footer section style*/

.footer-section {
    text-align: center;
    padding: 50px;
    background-color: #111010;
}

.footer-section h1 {
    color: white;
}

.footer-section h1 span {
    color: #E55473;
    font-weight: 800;
}

.footer-section p {
    color: rgba(233, 233, 233, 0.9);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-section p small {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.40);
}